@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<header>
    <h1 class="text-center">Bienvenido a nuestra Farmacia</h1>
</header>
<aside>
    <h3>Comunicado de productos</h3>
                
    <p>
        Estimados clientes:
        Les informamos que nuestra farmacia se encuentra realizando una actualización de productos con el fin de mejorar la
        disponibilidad, organización y calidad de nuestro servicio.
        Durante este proceso, algunos precios, descripciones y stocks podrían presentar cambios temporales.

        Agradecemos su comprensión y preferencia.

        Atentamente,
        Farmacia Central
        
    </p>
</aside>
<section class="seccion1">

    <h3>¡Gran Apertura de Nuestra Farmacia!</h3>

    <p>
        Estamos muy felices de anunciar la apertura de nuestra nueva farmacia, un espacio creado para brindar una atención cercana, productos de calidad y apoyo a toda la comunidad. Aquí podrán encontrar medicamentos, artículos de cuidado personal y un servicio confiable para toda la familia.

        Este proyecto es un sueño cumplido para nosotros y esperamos recibirlos pronto con la mejor atención y muchas ganas de ayudar.
    </p>
</section>
<article>
    <h3>Acerca de nuestra farmacia</h3>
    <p>
        Farmacia Vida Salud es un establecimiento dedicado a la venta de medicamentos,
        productos de cuidado personal y artículos de bienestar. Nuestro objetivo es brindar una atención cercana,
        rápida y confiable, ayudando a la comunidad a acceder
        fácilmente a productos esenciales para la salud y el cuidado diario.
    </p>
</article>

